aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
fire==0.4.0
fonttools==4.28.2
frozenlist==1.2.0
greenlet==1.1.2
idna==3.3
lxml==4.6.5
multidict==5.2.0
numpy==1.21.4
opencv-python==4.5.4.60
pdf2image==1.16.0
Pillow==9.0.1
pycryptodome==3.11.0
PyMuPDF==1.19.4
PyPDF4==1.27.0
python-docx==0.8.11
qrcode==7.3.1
reportlab==3.6.3
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.26
termcolor==1.1.0
typing_extensions==4.0.0
urllib3==1.26.7
yarl==1.7.2
